# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# URLs de las apps del ecosistema
BUYER_APP_URL=https://proyecto-c-buyer2-corehardware.vercel.app
SELLER_APP_URL=https://proyecto-c-seller2-corehardware.vercel.app
SHIPPING_APP_URL=https://proyecto-c-shipping2-corehardware.vercel.app
PAYMENTS_APP_URL=https://proyecto-c-payments2-corehardware.vercel.app

# API Keys para consumir endpoints inter-servicio de cada app
BUYER_API_KEY=
SELLER_API_KEY=
SHIPPING_API_KEY=
PAYMENTS_API_KEY=
